[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
mysql-connector-python = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
rope = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python app.py"
